:root {
  --font-body:   "Roboto",-apple-system,BlinkMacSystemFont,roboto,segoe ui,Helvetica,Arial,sans-serif;
  --font-header: "Fira Sans Condensed",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-mono:   SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono",monospace;
  --color-background:   #EAE9EA;
  --color-primary:      #74a08a;
  --color-primary-dark: #2F4238;
  --color-secondary:    #8a74a0;
  --color-tertiary:     #a08a74;
  --color-text:         #172a3a;
  --color-white:        #FFFFFF;
}

.navbar-title:hover > .icon-line {
  animation-duration: 600ms;
  animation-name: line-expand;
}

@keyframes line-expand {
  from {
    width: 0%;
  }
  
  to {
    width: 100%;
  }
}

#title-block-header.quarto-title-block.default .quarto-title .title {
  margin-bottom: 1rem;
}

#title-block-header.quarto-title-block.default .description > p:last-of-type, #title-block-header.quarto-title-block.default .abstract > p:last-of-type {
  margin-bottom: 1rem;
}

#quarto-margin-sidebar .quarto-listing-category {
  font-size: 0.8rem;
}

div.listing-description {
  font-size: 0.875rem;
}

div.quarto-post .body .listing-subtitle {
  font-size: 1.2rem;
}

.quarto-grid-item .card-title {
    margin-bottom: .5em;
}

/*
// left align edge of callout block with text
// without this, text inside callout block is left aligned with body text,
// which maybe looks better?
div.callout.callout {
  margin-left: 0;
}
*/

code span.cf {
  font-weight: normal;
}

.top-callout {
  margin-top: 0;
}

.profile-pic {
  border-radius: 5px;
}

/*
#quarto-content a {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid;
}

#TOC > ul > li a {
  border-bottom: 0 !important;
}

div.toc-actions a {
  border-bottom: 0 !important;
}

div.quarto-listing a {
  border-bottom: 0 !important;
}

a.anchorjs-link {
  border-bottom: 0 !important;
}
*/


/* Buttons on home page */

.btn-outline-dark {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 0px;
}

.btn-outline-dark:hover {
    background-color: var(--color-secondary);
}


/* Link buttons */

.icon-link {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 3px 5px 3px 5px;
    margin: 0 2px 0 2px;
    border-radius: 5px; /* Rounded edges */
}

.icon-link:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.icon-link-details {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    padding: 3px 5px 3px 5px;
    margin: 0 2px 0 2px;
    border-radius: 5px; /* Rounded edges */
}

.icon-link-details:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
}


/* Links */

a {
    color: var(--color-primary);
    border-bottom: 0px;
    text-decoration: none;
}

d-article a {
    color: var(--color-primary);
    border-bottom: 0px;
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--color-secondary);
    font-weight: 500;
    border-color: var(--color-secondary);
}

d-article a:hover, a:focus {
    color: var(--color-secondary);
    font-weight: 500;
    border-color: var(--color-secondary);
}